<h2>Posts</h2>

<div class="background_image">
  <% if user_signed_in? %>
    <strong>User: </strong> 
    <%= link_to "#{current_user.username}", user_path(current_user) %><br>
    <%= image_tag current_user.avatar %>
  <% end %>

  <p class="notice"><%= notice %></p>

  <p class="alert"><%= alert %></p>

  <%= link_to 'Home', root_path %>

  <div class="index_container">
    <ul>
      <% if @posts != [] %>
        <% @posts.each do |post| %>
          <li>
            <strong>Title: </strong>
            <%= post.title %><br>
            <div class="message_box">
              <%= post.message %>
            </div>
            
            <% if post.user != nil %>
              <strong>By: </strong>
              <%= post.user.username %>
            <% end %>
            <% if user_signed_in? %>
              <%= link_to 'Show', post_path(post) %>
              <%= link_to 'Edit', edit_post_path(post) %>
              <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </li>
        <% end %>
      <%= link_to 'Create new post', new_post_path %>
      <% end %>
    </ul>
  </div>

  <% if user_signed_in? %>
    <li>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
    </li>
  <% else %>
    <li>
    <%= link_to('Login', new_user_session_path)  %>  
    </li>
  <% end %>
</div>