<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Hora de salida" %><br>
    <%= f.datetime_select :depart_time %>
  </div>
  <div class="field">
    <%= f.label "Hora de llegada" %><br>
    <%= f.datetime_select :arrival_time %>
  </div>
  <div class="field">
    <%= f.label "Ruta" %><br>
    <%= f.select :route_id, Route.all.collect { |r| [r.origin, r.destination, r.id] } %>
  </div>
  <div class="actions">
    <%= f.submit "Crear" %>
  </div>
<% end %>