<h1>Lista de viajes</h1>

<ul>
  <% @trips.each do |trip| %>
    <li>
      <strong>Aerolinea: </strong>
      <%= trip.airline %>
      <strong>Ruta: </strong>
      <%= trip.route.origin %> - <%= trip.route.destination %><br>
      <strong>Pilotos: </strong>
      <ul>
        <% trip.route.pilots.each do |pilot| %>
          <li>
            <%= pilot.name %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
  <%= link_to "Ver", trip_path(trip) %>
  <%= link_to "Editar", edit_trip_path(trip) %>
  <%= link_to "Quitar", method: :delete, data: { confirm: "Estas seguro?" } %>
</ul>

<%= link_to "Crear nuevo viaje", new_trip_path %>

<a href="/">Ir a home</a>