<h1>Registrar nuevo profesor</h1>

<%= form_for @teacher do |f| %>
  <div class="form_container">
    <div>
      <%= f.label "Nombre" %><br>
      <%= f.text_field :name %>
    </div>

    <div>
      <%= f.label "Apellido" %><br>
      <%= f.text_field :last_name %>
    </div>

    <div>
      <%= f.label "Identificacion" %><br>
      <%= f.text_field :identification %>
    </div>

     <div>
      <%= f.label "Asignaturas " %><br>
      <%= f.collection_check_boxes :subject_ids, Subject.all, :id, :name %>
    </div>

    <div>
      <%= f.label "Email" %><br>
      <%= f.text_field :email %>
    </div>

    <div>
      <%= f.submit "Registrar profesor" %>
    </div>
  </div>
<% end %>

<a href="/teachers/" class="link_button">Atras</a>

<a href="/" class="link_button">Ir a home</a>