<h1>Perfil profesor</h1>

<a href="/homeworks/new/">Hacer nueva tarea</a>

<div>
  <strong>Nombre: </strong>
  <%= @teacher.name %>
</div>
<div>
  <strong>Apellido: </strong>
  <%= @teacher.last_name %>
</div>

<div>
  <strong>Identificacion: </strong>
  <%= @teacher.identification %>
</div>

<div>
  <strong>Asignatura: </strong>
  <%= Subject.find(@teacher.subject_id).name %>
</div>

<div>
  <strong>Email: </strong>
  <%= @teacher.email %>
</div>

<% if @teacher.answers != [] %>
  <ol>
    <% @teacher.answers.each do |answer| %>
      <li>
        <strong>Estudiante: </strong>
        <%= answer.student.name %><br>
        <strong>Asignatura: </strong>
        <%= answer.subject.name %>
      </li>
    <% end %>
  </ol>
<% end %>

<a href="/teachers/" class="link_button">Atras</a>

<a href="/" class="link_button">Ir a home</a>