<h1>Editar la respusta</h1>

<%= form_for @answer do |f| %>
  <div class="form_container">
    <div>
      <%= f.label "Mensaje", :id => "answer_message"%>
    </div>
    <div>
      <%= f.text_field :message %>
    </div>

    <div>
      <%= f.label "Calificacion" %>
    </div>
    <div>
      <%= f.text_field :score %>
    </div>

    <div>
      <%= f.label "Estudiante" %>
    </div>
    <div>
      <%= f.select :student_id, Student.all.collect { |s| [s.name, s.last_name, s.id] } %>
    </div>

    <div>
      <%= f.label "Tarea" %>
    </div>
    <div>
      <%= f.select :homework_id, Homework.all.collect { |s| [s.statement, s.id] } %>
    </div>

    <div>
      <%= f.submit "Actualizar respuesta" %>
    </div>
  </div>
<% end %>

<a href="/answers/" class="link_button">Atras</a>

<a href="/" class="link_button">Ir a home</a>