<h1>Lista de facturas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Numero</th>
      <th>Fecha</th>
      <th>Nombre emisor</th>
      <th>Identificacion emisor</th>
      <th>Nombre receptor</th>
      <th>Identificacion receptor</th>
      <th>Valor total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @facturas.each do |factura| %>
      <tr>
        <td><%= factura.nombre %></td>
        <td><%= factura.numero %></td>
        <td><%= factura.fecha %></td>
        <td><%= factura.nombre_emisor %></td>
        <td><%= factura.identificacion_emisor %></td>
        <td><%= factura.nombre_receptor %></td>
        <td><%= factura.identificacion_receptor %></td>
        <td><%= factura.valor_total %></td>
        <td><%= link_to 'Ver', factura %></td>
        <td><%= link_to 'Editar', edit_factura_path(factura) %></td>
        <td><%= link_to 'Eliminar', factura, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva factura', new_factura_path %>

<a href="/">Atras</a>
