<div id="notice"><%= notice %></div>

<div>
  <strong>Nombre: </strong>
  <%= @airline.name %>
</div>

<% if @airline.routes != [] %>
  <div>
    <strong>Rutas: </strong>
    <ol>
      <% @airline.routes.each do |route| %>
        <li>
          <%= route.origin %> - <%= route.destination %>
        </li>
      <% end %>
    </ol>
  </div>
<% end %>

<%= link_to 'Editar', edit_airline_path(@airline) %> |
<%= link_to 'Atras', airlines_path %>
