<h1>Registrar nuevo estudiante</h1>

<%= form_for @student do |f| %>
  <div class="form_container">
    <div>
      <%= f.label "Nombre" %><br>
      <%= f.text_field :name %>
    </div>

    <div>
      <%= f.label "Apellido" %><br>
      <%= f.text_field :last_name %>
    </div>

    <div>
      <%= f.label "Identificacion" %><br>
      <%= f.text_field :identification %>
    </div>

    <div>
      <%= f.label "Email" %><br>
      <%= f.text_field :email %>
    </div>

    <div>
      <%= f.label "Asignaturas" %>
      <%= f.collection_check_boxes :subject_ids, Subject.all.collect, :id, :name %>
    </div> 

    <div>
      <%= f.submit "Resgistrar" %>
    </div>
  </div>
<% end %>

<a href="/students/" class="link_button">Atras</a>

<a href="/" class="link_button">Ir a home</a>