<h1>Perfil estudiante</h1>

<div>
  <strong>Nombre: </strong>
  <%= @student.name %>
</div>
<div>
  <strong>Adivellido: </strong>
  <%= @student.last_name %>
</div>

<div>
  <strong>Identificacion: </strong>
  <%= @student.identification %>
</div>

<div>
  <strong>Email: </strong>
  <%= @student.email %>
</div>

<% if @student.subjects != [] %>
  <div>
    <strong>Asignaturas: </strong>
    <ul>
      <% @student.subjects.each do |subject| %>
        <li>
          <%= subject.name %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<a href="/answers/new/"><h3>Escribir nueva respuesta</h3></a>

<a href="/students/"><h3>Atras</h3></a>

<a href="/"><h3>Ir a home</h3></a>