<div class="form_container">
  <h1>Perfil estudiante</h1>

  <a href="/answers/new/">Escribir nueva respuesta</a>

  <div>
    <strong>Nombre: </strong>
    <%= @student.name %>
  </div>
  <div>
    <strong>Adivellido: </strong>
    <%= @student.last_name %>
  </div>

  <div>
    <strong>Identificacion: </strong>
    <%= @student.identification %>
  </div>

  <div>
    <strong>Email: </strong>
    <%= @student.email %>
  </div>

  <% if @student.subjects != [] %>
    <div>
      <strong>Asignaturas: </strong>
      <ul>
        <% @student.subjects.each do |subject| %>
          <li>
            <%= subject.name %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<a href="/students/" class="link_button">Atras</a>

<a href="/" class="link_button">Ir a home</a>