<h1>Modificar datos de la persona</h1>

<%= form_for @person do |f| %>
  <p>
    <%= f.label "Nombre" %><br>
  </p>
  <p>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label "Identificacion" %>
  </p>
  <p>
    <%= f.text_field :identification %>
  </p>
  <p>
    <%= f.label "Apartamento" %>
  </p>
  <p>
    <%= f.select :apartment_id, Apartment.all.collect { |t| [t.name, t.id] } %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<a href="/people/"><h2>Atras</h2></a>