<h1>
  <%= @person.name %>
</h1>

<p>
  Identificacion: 
  <%= @person.identification %>
</p>

<p>
  Apartamento: 
  <%= Apartment.find(@person.apartment_id).name %>
  ( Piso:  
  <%= Apartment.find(@person.apartment_id).floor%>
  )
  (
  <%= Tower.find(Apartment.find(@person.apartment_id).tower_id).name %>
  )
</p>

<a href="/"><h2>Ir a home</h2></a>

<a href="/people/"><h2>Atras</h2></a>