<h1>Editar la tarea</h1>

<%= form_for @homework do |f| %>
  <div class="form_container">
    <div>
      <%= f.label "Enunciado", :id => "homework_statemet"%>
    </div>
    <div id="statement_input">
      <%= f.text_field :statement %>
    </div>

    <div>
      <%= f.label "Fecha_final" %>
    </div>
    <div>
      <%= f.text_field :final_date %>
    </div>

    <div>
      <%= f.label "Asignatura" %>
    </div>
    <div>
      <%= f.select :subject_id, Subject.all.collect { |t| [t.name, t.id] } %>
    </div>

    <div>
      <%= f.submit  "Actualizar" %>
    </div>
  </div>
<% end %>

<a href="/homeworks/" class="link_button">Atras</a>

<a href="/" class="link_button">Ir a home</a>