<h1>Tareas</h1>

<ol>
  <% @homeworks.each do |homework| %>
    <li>
      <strong>Enunciado: </strong>
      <%= homework.statement %> | 

      <strong>Fecha final: </strong>
      <%= homework.final_date %><br>

      <% if homework.subject %>
        <strong>Asignatura: </strong>
        <%= homework.subject.name %>
      <% end %>
      
      <br>
      <%= link_to "Ver", homework_path(homework), :class => "crud_button" %>
      <%= link_to "Editar", edit_homework_path(homework), :class => "crud_button" %>
      <%= link_to "Eliminar", homework_path(homework), \
        method: :delete, data: { confirm: "Desea eliminar la tarea?" }, \
        :class => "crud_button"  %>
    </li>
  <% end %>
</ol>

<a href="/" class="link_button">Ir a home</a>