<h1>Crear nueva tarea</h1>

<%= form_for @homework do |f| %>
  <div class="form_container">
    <div>
      <%= f.label "Enuciado", :id => "homework_statement" %>
    </div>
    <div id="statement_input">
      <%= f.text_field :statement %>
    </div>

    <div>
      <%= f.label "Fecha final" %>
    </div>
    <div>
      <%= f.text_field :final_date %>
    </div>

    <div>
      <%= f.label "Asignatura" %>
    </div>
    <div>
      <%= f.select :subject_id, Subject.all.collect { |t| [t.name, t.id] } %>
    </div>

    <div>
      <%= f.submit "Crear" %>
    </div>
  </div>
<% end %>

<a href="/homeworks/" class="link_button"><h3>Atras</h3></a>

<a href="/" class="link_button"><h3>Ir a home</h3></a>