<h1>Editar la asignatura</h1>

<%= form_for @subject do |f| %>
  <div class="form_container">
    <div>
      <%= f.label "Nombre" %>
      <%= f.text_field :name %>
    </div>

    <div>
      <%= f.label "Codigo" %>
      <%= f.text_field :code %>
    </div>

    <div>
      <%= f.submit "Actualizar" %>
    </div>
  </div>
<% end %>

<a href="/subjects/" class="link_button">Atras</a>

<a href="/" class="link_button">Ir a home</a>