<h1>Asignaturas</h1>

<ol>
  <% @subjects.each do |subject| %>
    <li>
      <div>
        <strong>Nombre: </strong>
        <%= subject.name %><br>

        <strong>Codigo: </strong>
        <%= subject.code %><br>
      </div>

      <div>
        <%= link_to "Ver", subject_path(subject), :class => "crud_button" %>
        <%= link_to "Editar", edit_subject_path(subject), :class => "crud_button" %>
        <%= link_to "Eliminar", subject_path(subject), \
          method: :delete, data: { confirm: "Desea eliminar la asignatura #{subject.name}?" }, \
          :class => "crud_button" %>
      </div>
    </li>
  <% end %>
</ol>

<a href="/subjects/new" class="link_button">Ingresar nueva asignatura</a>

<a href="/" class="link_button">Ir a home</a>