<h1>Ingresar nueva asignatura</h1>

<%= form_for @subject do |f| %>
  <div>
    <%= f.label "Nombre" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label "Codigo" %>
    <%= f.text_field :code %>
  </div>

  <div>
    <%= f.label "Profesores" %>
    <%= f.collection_check_boxes :teacher_ids, Teacher.all.collect { |t| [t.name, t.last_name, t.id] } %>
  </div>

  <div>
    <%= f.submit "Ingresar" %>
  </div>
<% end %>

<a href="/"><h3>Ir a home</h3></a>
<a href="/subjects/"><h3>Atras</h3></a>