<h1>
  <%= @subject.name %>
</h1>

<p>
  <strong>Codigo: </strong>
  <%= @subject.code %>
</p>

<% if @subject.teacher %>
  <p>
     <strong>La dicta: </strong>
     <%= @subject.teacher.name %>
  </p>
<% end %>

<% if @subject.homeworks != [] %>
  <p>
    <strong>Tareas: </strong>
    <ul>
      <% @subject.homeworks.each do |homework| %>
        <li>
          <%= homework.statement %><br>
          <strong>Fecha de entraga: </strong>
          <%= homework.final_date %>
        </li>
      <% end %>
    </ul>
  </p>
<% else %>
  <p>No hay tareas en esta asignatura</p>
<% end %>

<a href="/"><h3>Ir a home</h3></a>

<a href="/subjects/"><h3>Atras</h3></a>